<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
<label for="" class="form-label">Name</label>
<input type="text" class="form-control" name="name"[(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" name="number"[(ngModel)]="number">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Gender</label>
                    <select name="gender" id="" class="form-control" [(ngModel)]="gender">
                        <option value="select">--select--</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="Others">Others</option>
                    </select>

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email"[(ngModel)]="email" >

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Address</label>
                    <textarea name="address" id="" cols="30" rows="10" class="form-control"[(ngModel)]="address"></textarea>

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Pincode</label>
                    <input type="text" class="form-control" name="pin"[(ngModel)]="pin">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Blood</label>
                    <select name="blood" id="" class="form-control" [(ngModel)]="blood">
                        <option value="select">--select--</option>
                        <option value="A">A</option>
                        <option value="A+">A+</option>
                        <option value="B">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB-</option>
                    </select>

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Dob</label>
                    <input type="date" class="form-control" name="dob"[(ngModel)]="dob">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Age</label>
                    <input type="number" class="form-control" name="age"[(ngModel)]="age">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Parent Name</label>
                    <input type="text" class="form-control" name="paname"[(ngModel)]="paname">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password"[(ngModel)]="password">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmpass"[(ngModel)]="confirmpass">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a routerLink="/dashboard" class="btn btn-primary"(click)="readValues()">Register</a>
                </div>
               
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a routerLink="/">Go to login</a>
                </div>
            </div>
        </div>
    </div>
</div>